{
    "env":         {
        "node":    true,
        "browser": true,
        "mocha":   true,
        "es6":     true
    },
    "parserOptions":{
        "ecmaVersion": 6,
        "sourceType":  "module",
        "ecmaFeatures": {
            "jsx": true,
            "impliedStrict":true
        }
    },
    "settings": {
        "react": {
            "pragma":  "React",
            "version": "15.0.1"
        }   
    },
    "extends": [
        "skylar"
    ],
    "rules":{}
}